/*.navbar {*/
/*    width: 100%;*/
/*    padding-left: 30px;*/
/*    padding-right: 10px;*/
/*    display:flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    box-shadow: 0 0 2px 0 grey;*/
/*    color: var(--theme-color);*/
/*}*/

.logo {
    display: inline-block;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    color: var(--theme-color);
}

.nav-item:hover {
    background-color: white;
}

.nav-item:hover a {
    transform: scale(0.98);
    border-bottom: 2px var(--theme-text-color) solid;
}



@media (max-width: 700px) {
}


