@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

:root {
    --bg-color-primary: #1a212c;
    --blue: #111d5e;
    --color-primary: #f1f3f8;
    --color-secondary: #f37121;
    --dark: #333;
    --extra-large: 40px;
    --font-family-2: "Quicksand", sans-serif;
    --font-family: " 14px 'Roboto', sans-serif,system-ui";
    --green: #64ffda;
    --large: 20px;
    --light-blue: #a8b2d1;
    --light-Navey: #172a45;
    --navy: #0a192f;
    --purple: #45046a;
    --red: #f90a23;
    --state: #8892b0;
    --white-1: #f9f9f9;
    --white: #e6f1ff;
    --purple-light: #8a4d76;
    --pink: #fa7c91;
    --brown: #757763;
    --beige-light: #d0d1cd;
    --beige-lighter: #eff0eb;
    --theme-bg-color: #f8f9fd;
    --theme-text-color: #e99c2e;
    --theme-color: #616060;
    --flex-min: 2rem;
    --flex-basis: calc((var(--flex-min) - 100%) * 999);

}

.transition-colors {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: 150ms;
}
